<div class="container-fluid" id="login">
    <div class="col-6  img d-flex justify-content-center align-items-center flex-column d-none d-md-block">

        <span class="highlight fs mx-1">V-Go</span>
        <span class="heading fs text-center"> The easiest way to book your ride
            anytime, anywhere. </span>
        <p class="small heading text-center">Experience fast, safe, and reliable cab services with V-Go.
            Whether it’s your daily commute or a long trip, we make every journey smooth and stress-free.</p>

    </div>
</div>