<div class="hero" id="home">

    <!-- Overlay Content -->
    <div class="hero-content">
        <p class="tagline">GREAT EXPERIENCE IN RIDING</p>

        <h1>
            <span class="highlight">The best way to</span><br>
            Get around town.
        </h1>

        <p class="desc">
            Book your ride quickly and safely with V-Go. Reliable rides at your fingertips.
        </p>

        <div class="buttons">
            <button class="btn btn-book">BOOK A TAXI</button>
            <button class="btn btn-outline">LEARN MORE</button>
        </div>
    </div>

</div>

<!-- About Section -->
<div class="container about m-2" id="about">
    <div class="d-flex flex-wrap justify-content-center align-items-center">
        <div class="col-12 col-md-6 d-flex flex-wrap justify-content-center parent-box ">
            <div class="img-wrapper mx-1">
                <img class="about-img m-1" src="assets/car.jpg" alt="image1">
                <div class="box">
                    <p class="fw p-0 mb-0 text-center">🚕 </p>
                    <p class="fw p-0 mb-0 text-center" style="font-size: 12px;font-weight: bold;"> Experience </p>
                    <p class="p-0 mb-0 small text-center" style="font-size: 12px;font-weight: bold;">5+ Years </p>
                    <p class="p-0 mb-0 mx-4 small text-center fs">of trusted service </p>
                </div>

            </div>
            <div class="img-wrapper mx-1">

                <img class="about-img m-1" src="assets/yellow-taxi-city.jpg" alt="imge2">
                <div class="box">
                    <p class="fw p-0 mb-0 text-center">🚗 </p>
                    <p class="fw p-0 mb-0 text-center" style="font-size: 12px;font-weight: bold;"> Vehicles </p>
                    <p class="p-0 mb-0 small text-center" style="font-size: 12px;font-weight: bold;">10k+ Rides</p>
                    <p class="p-0 mb-0 mx-4 small text-center fs">completed successfully </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 d-flex flex-column flex-wrap text-center align-items-center">
            <p class="p-0 mb-1 mx-4 text-muted">ABOUT OUR COMPANY</p>
            <p class="fw p-0 mb-0 mx-4">Professional and Reliable </p>
            <p class="p-0 mb-1 mx-4">Online Cab Service</p>
            <p class="small mx-4 text-muted">
                V-Go offers reliable and affordable cab services designed for your comfort and convenience.
                With professional drivers and easy booking, we make every journey smooth and stress-free.
            </p>
            <div class="buttons mx-4">
                <button class=" btn-discover text-center">DESCOVER MORE</button>
            </div>
        </div>
    </div>
</div>

<!-- Our Services -->

<div class="container-fluid my-4 bg-light" id="services">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <p class="p-0 mb-1 mx-4 text-muted">OUR SERVICES</p>
        <p class="fw p-0 mb-0 mx-4">Best Cab Services </p>
        <p class="p-0 mb-2 mx-4">For Your Village & City</p>
        <p class="p-0 mb-3 mx-4 col-10 col-md-7 small">V-Go provides reliable, fast, and affordable transportation solutions tailored to your needs. Whether it’s a quick city ride or a scheduled trip, we ensure comfort, safety, and convenience every time.</p>
    </div>

    <div class="d-flex flex-wrap justify-content-center align-items-center">
        <div class="card mx-2 mb-2">
            <img class="" src="assets/yellow-taxi-city.jpg" alt="image2">

            <p class="fw p-0 mt-1 mb-0 text-center" style="font-size: 12px;font-weight: bold;"> Rapid City Transfer </p>
            <p class="p-0 mb-0 mx-4 small text-center fs">Get around the city quickly with our reliable and on-time cab
                services. Perfect for daily commutes and short-distance travel. </p>
                <p class="small text-center  cursor-pointer" style="color: #FACC15; font-size: 12px;font-weight: bold;">Learn More →</p>
        </div>

        <div class="card mx-2 mb-2">
            <img class="" src="assets/yellow-taxi-city.jpg" alt="image2">

            <p class="fw p-0 mt-1 mb-0 text-center" style="font-size: 12px;font-weight: bold;">Online Booking</p>
            <p class="p-0 mb-0 mx-4 small text-center fs">Book your ride in just a few clicks with our easy and user-friendly platform. Fast, simple, and hassle-free booking anytime. </p>
            <p class="small text-center cursor-pointer" style="color: #FACC15;font-size: 12px;font-weight: bold; ">Learn More →</p>
        </div>
        <div class="card mx-2 mb-2">
            <img class="" src="assets/yellow-taxi-city.jpg" alt="image2">

            <p class="fw p-0 mt-1 mb-0 text-center" style="font-size: 12px;font-weight: bold;">Airport Transport</p>
            <p class="p-0 mb-0 mx-4 small text-center fs">Enjoy timely airport pickups and drop-offs with professional drivers. Travel stress-free with our dependable airport services.</p>
            <p class="small text-center cursor-pointer" style="color: #FACC15; font-size: 12px;font-weight: bold; ">Learn More →</p>
        </div>
    </div>
</div>