<div class="hero">

    <!-- Overlay Content -->
    <div class="hero-content">
        <p class="tagline">GREAT EXPERIENCE IN RIDING</p>

        <h1>
            <span class="highlight">The best way to</span><br>
            Get around town.
        </h1>

        <p class="desc">
            Book your ride quickly and safely with V-Go. Reliable rides at your fingertips.
        </p>

        <div class="buttons">
            <button class="btn btn-book">BOOK A TAXI</button>
            <button class="btn btn-outline">LEARN MORE</button>
        </div>
    </div>

</div>

<!-- About Section -->
<div class="container about m-2">
    <div class="d-flex flex-wrap justify-content-center align-items-center">
        <div class="col-12 col-md-6 d-flex flex-wrap justify-content-center parent-box ">
            <div class="img-wrapper mx-1">
                <img class="about-img m-1" src="assets/car.jpg" alt="image1">
                <div class="box">
                    <p class="fw p-0 mb-0 text-center">🚕 </p>
                    <p class="fw p-0 mb-0 text-center" style="font-size: 12px;font-weight: bold;"> Experience </p>
                    <p class="p-0 mb-0 small text-center" style="font-size: 12px;font-weight: bold;">5+ Years </p>
                    <p class="p-0 mb-0 mx-4 small text-center fs">of trusted service </p>
                </div>

            </div>
            <div class="img-wrapper mx-1">

                <img class="about-img m-1" src="assets/yellow-taxi-city.jpg" alt="imge2">
                <div class="box">
                    <p class="fw p-0 mb-0 text-center">🚗 </p>
                    <p class="fw p-0 mb-0 text-center" style="font-size: 12px;font-weight: bold;"> Vehicles </p>
                    <p class="p-0 mb-0 small text-center" style="font-size: 12px;font-weight: bold;">10k+ Rides</p>
                    <p class="p-0 mb-0 mx-4 small text-center fs">completed successfully </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 d-flex flex-column flex-wrap text-center align-items-center">
            <p class="p-0 mb-1 mx-4 text-muted">ABOUT OUR COMPANY</p>
            <p class="fw p-0 mb-0 mx-4">Professional and Reliable </p>
            <p class="p-0 mb-1 mx-4">Online Cab Service</p>
            <p class="small mx-4 text-muted">
                V-Go offers reliable and affordable cab services designed for your comfort and convenience.
                With professional drivers and easy booking, we make every journey smooth and stress-free.
            </p>
            <div class="buttons mx-4">
                <button class=" btn-discover text-center">DESCOVER MORE</button>
            </div>
        </div>
    </div>
</div>